# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/
.idea
.env

lib/**/*.config.dart
lib/**/*.drift.dart
lib/**/*.freezed.dart
lib/**/*.g.dart
lib/**/*.superclass.dart
.DS_Store